body {
  font-family: Arial, sans-serif;
}

.login-card h3 {
  line-height: 1.2;
  overflow: hidden;
}


/* STYLE NAVBAR */
.custom-navbar {
  background-color: #ffffff;
  padding: 12px;
}

.navbar-wrapper {
  border: 2px solid #c00000;
  border-radius: 6px;
  padding: 12px 25px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* STYLE NAVBAR SECTOR IZQUIERDO */
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo {
  width: 45px;
  height: auto;
}

.nav-title {
  font-size: 20px;
  font-weight: 600;
}

/* STYLE NAVBAR CENTRO */
.nav-center {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-center li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.nav-center li a:hover {
  color: #c00000;
}

/* STYLE NAVBAR SECTOR IZQUIERDO */
.btn-danger {
  padding: 6px 14px;
}

.btn-danger:hover {
  background-color: #a00000;
}

#saldo {
  color: green;
}

.powered {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: gray;
}
